* {
    box-sizing: border-box;
}

body {
    background-color: #b7b7b787;

    text-align: center;

    margin-bottom: 20px;
    margin: 0
}

h1 {
    text-align: center;
    height: 30px;
}

.general {
    background-color: rgb(117, 117, 117);
    border-radius: 2px;
    margin: 0;
    min-height: calc(100vh - 150px);
}


table {
    background-color: rgb(51, 64, 88);
    /* width: 300px; */
    table-layout: fixed;
    border: 1px solid black;
    border-radius: 2%;
    margin: auto;

}

td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 2%;
    overflow: hidden;

}

td:hover {
    cursor: pointer;
    background-color: grey;

}

h4 {
    text-align: center;
    height: 30px;
}

span {
    text-align: center;
    color: blue
}


.smiley {
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 25px;

}

.timer {
    text-align: center;
    margin: auto;
    background-color: black;
    color: red;
    width: min-content;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid rgb(51, 64, 88);

}

.dashboard {
    text-align: center;
    margin: 10px;
    padding: 20px;
}

button {
    background-color: beige;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    position: relative;
    
}

button:hover {
    cursor: pointer;
}

.revealed {
    background-color: rgb(169, 169, 169);
    color: blue;
}

.safe.cell {
    background-color: rgb(35, 165, 197);
}

.hint.cell {
    background-color: rgb(192, 192, 114)
}


.marked {
    background-color: yellow;
}

.difficulties {
    margin: 20px 5px;
}

.hidden {
    display: none;
}


.depleted {
    background-color: grey
}

.depleted:hover {
    cursor: not-allowed;


}

img {
    width: 25px;
    height: 25px;
    text-align: center;
    margin: auto;
}


button .icon {
    display: inline-block;
    margin: 0;
}


button .num {
    position: absolute;
    color: black;
    font-size: 14px;
    right: 1px;
}


